<% layout('layouts/boilerplate') %>


<!--  -->

<div class="row">
  <h1 class="text-center">Edit Restaurant</h1>
</div>
<div class="col-md-6 offset-md-3">
  <form action="/restaurants/<%= restaurant._id %>?_method=PUT " method='post' class="needs-validation" enctype="multipart/form-data" novalidate>
    <div class=" mb-3">
      <label for="title" class="form-label"> Title</label>
      <input type="text" name="restaurant[title]" id="title" class="form-control" value="<%= restaurant.title %> " required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a title!
      </div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" id="location" name="restaurant[location]" class="form-control" value="<%= restaurant.location %>" placeholder="city/state, Country" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid city!
      </div>
    </div>

    <div class="mb-3">
      <label for="price-label" class="form-label">Average Food Price</label>
      <div class="input-group ">
        <span class="input-group-text" id="price-label">&#8358;</span>
        <input type="text" class="form-control" id="price-label" placeholder="0.00" aria-label="price" aria-describedby="basic-addon1" name="restaurant[price]" value="<%= restaurant.price %> " required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please Fill in price!
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea type="text" id="description" name="restaurant[description]" class="form-control" required><%= restaurant.description %>  </textarea>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter description!
      </div>
    </div>

    <div class="mb-3">

      <div class="form-file custom-file mb-3">
        <label for="image" class="form-label">Add more image(s)</label>
        <input class="form-control custom-file-label" type="file" id="image" name="image" multiple>
      </div>



    </div>
    <div class="mb-3">

      <% restaurant.images.forEach((img,i)=>{ %>
      <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
      <div class="form-check-inline">
        <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="img-<%= i %>">
        <label for="img-<%= i%>">Delete?</label>
      </div>
      <% }) %>

    </div>
    <div class="mb-3">
      <button class="btn btn-info">Save</button>
    </div>

  </form>
  <a href="/restaurants/<%= restaurant._id %> ">Back</a>
</div>